pre[class*=language-], .endpoint > code {
  border-radius: $radius-lg;
  margin: 0 0 16px;
}

pre[class*=language-].response {
  background-color: $secondary;
}

.endpoint {
  & > code {
    border: 1px solid $border-color;
    background-color: $lite-bg;
    padding: 8px 12px;
  
    .post {
      color: green;
      font-weight: bold;
    }
  }

  margin-top: $spacing-xl;
}

.code-toolbar > .toolbar {
  top: .2em !important;
  right: .4em !important;

  button {
    cursor: pointer;
    background: $lite-bg !important;
    color: $dark !important;

    &:focus:not(:hover) {
      color: $dark !important;
    }

    &:hover {
      color: $primary !important;
    }
  }
}

.inline-code {
  background-color: $grey-4;
  padding: 0 4px;
  border-radius: 4px;
}

.posts-nav {
  display: flex;
  margin-top: $spacing-xxl;
  flex-wrap: wrap;
  gap: $spacing-md;
}

h1, h2, h3, h4, h5, h6 {
  scroll-margin-top: $header-height;
  scroll-snap-margin-top: $header-height;
}

.parameters-table {
  overflow: auto;
  font-size: 14px;
}

.indent {
  padding-left: $spacing-md;
}

.q-tree {
  $tree-top: $header-height + 1px;

  margin-top: $spacing-lg * 2;
  padding-left: $spacing-md;
  padding-top: $spacing-md;
  position: sticky;
  top: $tree-top;
  height: fit-content !important;
  max-height: calc(100vh - $tree-top) !important;
  line-height: 1.2;

  .q-tree__node--selected .q-tree__node-header-content {
    color: $primary !important;
  }

  .q-tree__arrow {
    font-size: 12px;
    margin-right: 5px !important;
    color: $grey-border-color;
  }

  .q-tree__node-header-content {
    margin: 2px 0;
    color: rgba($dark, .7);
  }
}

@media only screen and (max-width: 899px) {
  /* For mobile phones */
  .q-tree {
    display: none;
  }
}
